.Toastify__toast {
  border-radius: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.Toastify__toast--success {
  background: #2F80ED;
  color: white;
}

.Toastify__toast--error {
  background: #ff4d4d;
  color: white;
}

.Toastify__toast-container {
  z-index: 9999;
}

.Toastify__progress-bar {
  background: white;
  height: 2px;
}
